lab4/mule/service1-integration/src/main/mule/service1-integration.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="httpListener" basePath="/service1-spring">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <http:request-config name="httpRequest">
        <http:request-connection host="localhost" port="8081"/>
    </http:request-config>

    <flow name="service1-rest-proxy-flow">
        <http:listener config-ref="httpListener" path="/*" allowedMethods="GET,POST,PUT,DELETE"/>
        <http:request config-ref="httpRequest"
                      method="#[attributes.method]"
                      path="#[attributes.requestPath]"
                      queryParams="#[attributes.queryParams]"
                      headers="#[attributes.headers]"/>
    </flow>
</mule>
